/* Color Palettes
Blue
#03045E
#023E8A
#0077B6
#0096C7
#00B4D8
#48CAE4
#90E0EF
#ADE8F4
#CAF0F8 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body {
  background-color: #5fbbce;
}

.navColor {
  background-color: #25266f !important;
}

.navColor ul li {
  display: inline-block;
  list-style: none;
}

.navColor ul li a {
  color: #fff;
  font-family: 'Noto Serif', serif;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navColor ul li a:hover {
  color: #76d6c0;
  cursor: pointer;
}

i {
  padding: 0px 15px;
}

.navbar .navbar-toggler:focus {
  color: #76d6c0;
}

i:hover {
  color: #76d6c0;
  transform: translate(0px, -10px);
  cursor: pointer;
}

.text {
  color: #000000;
  font-family: 'Noto Serif', serif;
}

.textStone {
  color: #ffffff;
  font-family: 'Noto Serif', serif;
}

.text2 {
  color: #fff;
  font-family: 'Noto Serif', serif;
}

/* Bio tab styling */
#bio-tab {
  background-color: #325d95;
  padding: 20px;
  border: 1px solid #325d95;
  text-align: center;
  box-shadow: 2px 2px 4px #325d95;
  width: 400px;
  margin: 0 auto;
}

#bio-tab img {
  width: 100px;
  border-radius: 50%;
}

#bio-tab h2 {
  margin-top: 0;
  font-size: 30px;
  color: #fff;
}

.bioText {
  margin-bottom: 10px;
  font-size: 25px;
  color: #fff;
  line-height: 1.5;
}

#bio-tab a {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}

#bio-tab a:hover {
  background-color: #555;
}

button {
  background-color: #CAF0F8;
  border-color: #CAF0F8;
}

button:hover {
  border-color: #03045E;
}

.imgIncrease {
  transform: scale(1.25);
}

hr {
  background-color: #224067;
}

.small {
  border: 5px solid #224067;
  border-radius: 3px;
  width: 30%;
  height: 10px;
}

.medium {
  border: 5px solid #224067;
  border-radius: 3px;
  width: 60%;
  height: 10px;
}

.large {
  border: 2px solid #224067;
  border-radius: 3px;
  width: 90%;
  height: 10px;
}

.full {
  border: 2px solid #224067;
  border-radius: 3px;
  width: 100%;
  height: 10px;
}

.description {
  color: #000000;
  font-family: 'Noto Serif', serif;
  font-size: 25px;
  text-shadow: 2px 2px 5px #212121;
}


.largeCard {
  border: 1px solid #d1ebf0;
  margin: auto;
  background-color: #d1ebf0;
  background: #d1ebf0;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d1ebf0;
  padding: 10px;
}

.h3BoxShadow {
  font-size: 40px;
  color: #000000;
  text-shadow: 2px 2px #302e2e;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.cardDescription {
  color: #000000;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  /*margin-right: 25px;
  margin-left: 25px; */
}

.row {
  --bs-gutter-x: 0rem !important;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.defaultCard {
  border: 1px solid #BBB8B2;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(112 111 108);
  padding: 10px;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.underline {
  text-decoration: underline;
}

.stoneImage {
  width: 400px;
  height: 250px;
}

.testTitle {
  font-size: 6vw;
  color: #000000;
  text-shadow: 1px 1px 3px #224067;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: text-animation 3s ease-in-out;
}

.trentTitle {
  font-size: 4vw;
  color: #000000;
  text-shadow: 1px 1px 3px gray;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: text-animation 3s ease-in-out;
}

.valTitle {
  font-size: 50px;
  color: #000000;
  text-shadow: 1px 1px 3px gray;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: text-animation 3s ease-in-out;
}

.increaseIcon {
  font-size: 64px;
}

@keyframes text-animation {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bottomPadding {
  margin: 15px;
}

.gifSizing {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

/* Set the border color */

.custom-toggler.navbar-toggler {
  border-color: #76d6c0;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100, 255, 218, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Popup Inspired by Rebecca Novvis */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: rgb(46, 47, 113);
  background: linear-gradient(90deg, rgba(46, 47, 113, 1) 0%, rgba(77, 146, 182, 1) 55%, rgba(66, 141, 156, 1) 100%);
  border-radius: 5px;
  width: 80%;
  position: relative;
  text-align: center;
  transition: all 5s ease-in-out;
}

.popup p {
  color: #ffffff;
  font-family: 'Noto Serif', serif;
  text-align: left;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.popup h1 {
  margin-top: 0;
  font-size: 45px;
  text-align: center;
  color: black;
  font-family: 'Noto Serif', serif;

}

.popup h2 {
  color: black;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-size: 30px;
}

.popup ul {
  color: black;
  text-align: left;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 10px;
}

.popup img {
  border: 2px solid #548ea4;
  border-radius: 2px;
  filter: drop-shadow(0px 2px 2px #000000)
}

.popup .close {
  transition: all 200ms;
  font-family: 'Noto Serif', serif;
  border: 2px solid;
  border-radius: 30px;
  padding: 5px 10px;
  margin: 10px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: #2d2e71;
}

.popup .close:hover {
  color: #000000;
  border: 2px solid #000000;
}

/* New Artifact Card CSS  */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #5fbbce;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.artifact {
  margin-bottom: 40px;
  padding: 20px;
  background: rgb(46, 47, 113);
  background: linear-gradient(90deg, rgba(46, 47, 113, 1) 0%, rgba(77, 146, 182, 1) 55%, rgba(66, 141, 156, 1) 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}